<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf8">
    <title>Websocket Test</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" />
</head>

<body>
    <div id="container">
        <ul>
            <li><a class="button" id="FS">full screen</a></li>
            <li><canvas id="canvas" width="270" height="270" style="border:2px solid"></li>
        </ul>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>
    <script src="{{ static_url("jquery.hammer.js") }}"}}"></script>
    <script src="{{ static_url("main.js") }}"></script>
</body>
</html>
